
.invisible{
    visibility: hidden;
}
.grigio{
    color: grey;
}

  #final-price .prezzo {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 1.5rem;
  }

  #final-price .prezzo b {
    margin-right: 0.1rem;
  }

  #final-price .grigio {
    color: gray;
    font-size: 1.5rem;
  }
